<!-- template.html -->
<!DOCTYPE html>
<html>
<body>
    <h3>Theres a spot available to register</h3>
    <span>Hey {{.Name}}, These sport are available to register in.</span><br/>
    <br/>
    <h3>Courses:</h3>
    <p>
        {{ .Section.Course.Department }},{{ .Section.Course.Code  }}, {{ .Section.Code  }}, {{ .Section.Term }}
    </p>
    <br/>
</body>
</html>