<!DOCTYPE html>
<html>
<head>
    <title>Get Your Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>
<body>
    <h1>Index is working</h1>
    <form action="index.php" method="post">
        <input type="text" name="name" placeholder="Jason Taylor">
        <input type="text" name="email" placeholder="a@b.com">
        <input type="text" name="course-id" placeholder="CIS203">
        <input type="submit" name="submit">
    </form>
    <footer>
        <p id="footer-content"></p>
    </footer>

    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html> 